.carousel-item {
  padding: 10px;
  cursor: -webkit-grabbing;
}
.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  padding-right: 9%;
  padding-left: 9%;
  padding-bottom: 5%;
  max-width: 100%;
  height: auto; 
  align-items: center;
}
.carousel-item:hover img {
  transform: translatey(-1%);
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
}
.carousel-indicators li.active {
  background: #fff;
}
@media only screen and (max-width: 650px) {
  .carousel-item img {
    height: auto;
 }
}
@media only screen and (max-width: 420px) {
  .carousel-item img {
    height: auto;
    width: 100%;
 }
}

.carousel-control-prev {
  left: -25px;
  margin: 0 -25px;
}
.carousel-control-next {
  right: -25px;
  margin: 0 -25px;
}

@media only screen and (max-width: 480px){
  .carousel-control-prev {
    left: -12px;
    margin: 0 -25px;
  }
  .carousel-control-next {
    right: -12px;
    margin: 0 -25px;
  }
}


@media only screen and (max-width: 480px){
  .cont {
    display: block;
    padding: 0;
    margin-left: 0%;
    margin-right: 0%;
}
}

@media only screen and (max-width: 960px){
  .cont {
    width: 100%;
    display: flex;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
}
}

@media only screen and (max-width: 760px){
  .cont {
    display: block;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media only screen and (max-width: 820px){
  .cont {
    display: block;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media only screen and (max-width: 960px){
  .cont {
    width: 100%;
    display: flex;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
}
}