  /* Lore Carousel*/
 
 .bg-scroll {
    background-image: url('../assets/img/164171560-e3148c85-daac-4a29-8e5d-87dac243c411.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    padding: 8rem 6rem;
    width: 52.5%;
    display: block;
  }
  
   
  .paragraph_1{
    padding-left: 0rem;
    padding-right: 1rem;
    padding-top: 7%;
  
  }
  
  .paragraph_2{
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    
  }
  
  .paragraph_3{
    padding-left: 5rem;
    padding-right: 0rem;
   
  }
  
  .paragraph_4{
    padding-left: 11rem;
    padding-right: 0rem;
  }
  
  @media only screen and (max-width: 360px) {
    .bg-scroll {
      background-image: url('../assets/img/164171560-e3148c85-daac-4a29-8e5d-87dac243c411.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-x: center;
      padding: 8rem 6rem;
      width: 52.5%;
      display: none;
    }
  }
  


.car {
    position: relative;
    margin-top: 26px;
}

.car-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.car-open:checked + .car-item {
    position: static;
    opacity: 100;
}

.car-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.car-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.car-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.car-control.prev {
    left: 2%;
}

.car-control.next {
    right: 2%;
}

.car-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#car-1:checked ~ .control-1,
#car-2:checked ~ .control-2,
#car-3:checked ~ .control-3,
#car-4:checked ~ .control-4 {
    display: block;
}

.car-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.car-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.car-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.car-bullet:hover {
    color: #aaaaaa;
}

#car-1:checked ~ .control-1 ~ .car-indicators li:nth-child(1) .car-bullet,
#car-2:checked ~ .control-2 ~ .car-indicators li:nth-child(2) .car-bullet,
#car-3:checked ~ .control-3 ~ .car-indicators li:nth-child(3) .car-bullet,
#car-4:checked ~ .control-4 ~ .car-indicators li:nth-child(4) .car-bullet {
    color: #428bca;
}

/* Make the images wide and responsive */
.slider-inner img {
  height: auto;
  width: 100%;
}


.paragraph_5{
  padding-left: 0rem;
  padding-right: 1rem;
  padding-top: 7%;

}

/* End Lore */
 

/* WEB New Nft Carousel*/
.carl{
  position: relative;
  margin-top: 30px;
  cursor: -webkit-grabbing;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carl-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carl-open:checked + .carl-item {
  position: static;
  opacity: 100;
}

.carl-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.s ease-out;
  transition: opacity 0.s ease-out;
  
}

.carl-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carl-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carl-control.prev {
  left: 0%;
}

.carl-control.next {
  right: 0%;
}


.carl-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carl-1:checked ~ .control-1,
#carl-2:checked ~ .control-2,
#carl-3:checked ~ .control-3,
#carl-4:checked ~ .control-4, 
#carl-5:checked ~ .control-5,
#carl-6:checked ~ .control-6,
#carl-7:checked ~ .control-7,
#carl-8:checked ~ .control-8,
#carl-9:checked ~ .control-9,
#carl-10:checked ~ .control-10,
#carl-11:checked ~ .control-11,
#carl-12:checked ~ .control-12 {
  display: block;
}

.carl-indicators {
    position: absolute;
    bottom: -270px; /* Adjust the distance from the bottom as needed */
    left: -160px;
    right: -140px;
    text-align: center;
    display: inline-block;
    margin: 0 70px; /* Adjust the spacing between indicators as needed */
}

.carl-indicators img {
  width: 100px; /* Adjust the size of the indicator images as needed */
  height: 100px;
  cursor: pointer; /* Add a cursor pointer for interactivity */
  margin-top: 20px; 
  margin-bottom: 0px;
  z-index: 111;
}

.carl-indicators li {
  display: inline-block;
  margin: 0 10px;

}

.carl-indicators li {
  border: 5px solid #4acae8;
  background-color: #232959;
  border-radius: 10px;
  width: 160px;
  height: 133px;
}

.carl-indicators li.active {
    border: 5px solid #abdcf0;
    border-radius: 10px;
    width: 160px;
    height: 133px;
    z-index: 1; /* Increase the z-index to bring it to the front */
      position: relative; /* Add position relative to allow z-index to work */
}

.carl-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carl-bullet:hover {
  color: #aaaaaa;
}

#carl-1:checked ~ .control-1 ~ .carl-indicators li:nth-child(1) .carl-bullet,
#carl-2:checked ~ .control-2 ~ .carl-indicators li:nth-child(2) .carl-bullet,
#carl-3:checked ~ .control-3 ~ .carl-indicators li:nth-child(3) .carl-bullet,
#carl-4:checked ~ .control-4 ~ .carl-indicators li:nth-child(4) .carl-bullet,
#carl-5:checked ~ .control-5 ~ .carl-indicators li:nth-child(5) .carl-bullet,
#carl-6:checked ~ .control-6 ~ .carl-indicators li:nth-child(6) .carl-bullet,
#carl-7:checked ~ .control-7 ~ .carl-indicators li:nth-child(7) .carl-bullet,
#carl-8:checked ~ .control-8 ~ .carl-indicators li:nth-child(8) .carl-bullet,
#carl-9:checked ~ .control-9 ~ .carl-indicators li:nth-child(9) .carl-bullet,
#carl-10:checked ~ .control-10 ~ .carl-indicators li:nth-child(10) .carl-bullet,
#carl-11:checked ~ .control-11 ~ .carl-indicators li:nth-child(11) .carl-bullet,
#carl-12:checked ~ .control-12 ~ .carl-indicators li:nth-child(12) .carl-bullet {
  color: #428bca;
}


.carl-caption {
  top: 63%;
  bottom: auto;
  color: rgb(0, 0, 0);
}

 
  
.carl{
  position: relative;
  margin-top: 30px;
  height: 400px;
  top: 20%;
  transform: translateY(-50%);
  overflow: hidden; 
}




@media only screen and (max-width: 420px){
       
  .center-text {
    text-align: center;
  }
  
.carl{
  position: relative;
  margin-top: 30px;
  height: 400px;
  top: 20%;
  transform: translateY(-50%);
  overflow: hidden; 
}

.carl-indicators li.active {
  border: 7px solid #89c1d7;
  border-radius: 10px;
  width: 125px;
  height: 135px;
  z-index: 1; /* Increase the z-index to bring it to the front */
  position: relative; 
}

.carl-indicators li {
  border: 3px solid #4acae8;
  background-color: #232959;
  border-radius: 10px;
  width: 160px;
  height: 133px;
}

.carl-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carl-open:checked + .carl-item {
  position: static;
  opacity: 100;
}

.carl-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.s ease-out;
  transition: opacity 0.s ease-out;
}

.carl-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carl-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carl-control.prev {
  left: 2%;
}

.carl-control.next {
  right: 2%;
}

.carl-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carl-1:checked ~ .control-1,
#carl-2:checked ~ .control-2,
#carl-3:checked ~ .control-3,
#carl-4:checked ~ .control-4, 
#carl-5:checked ~ .control-5,
#carl-6:checked ~ .control-6,
#carl-7:checked ~ .control-7,
#carl-8:checked ~ .control-8,
#carl-9:checked ~ .control-9,
#carl-10:checked ~ .control-10,
#carl-11:checked ~ .control-11,
#carl-12:checked ~ .control-12 {
  display: block;
}

.carl-indicators {
  list-style: none;
  margin: 0 0px; 
  padding: 0;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  flex-wrap: wrap;
  display: inline-block;
}

.carl-indicators {
  position: relative;
  bottom: 0px;
    text-align: center;
    display: inline-block;
    margin: 0 0px; /* Adjust the spacing between indicators as needed */
}

.carl-indicators img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
}

.carl-indicators li {
  width: 44.33%;
  display: inline-block;
  margin: 0 5px;
}

.carl-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carl-bullet:hover {
  color: #aaaaaa;
}

#carl-1:checked ~ .control-1 ~ .carl-indicators li:nth-child(1) .carl-bullet,
#carl-2:checked ~ .control-2 ~ .carl-indicators li:nth-child(2) .carl-bullet,
#carl-3:checked ~ .control-3 ~ .carl-indicators li:nth-child(3) .carl-bullet,
#carl-4:checked ~ .control-4 ~ .carl-indicators li:nth-child(4) .carl-bullet,
#carl-5:checked ~ .control-5 ~ .carl-indicators li:nth-child(5) .carl-bullet,
#carl-6:checked ~ .control-6 ~ .carl-indicators li:nth-child(6) .carl-bullet,
#carl-7:checked ~ .control-7 ~ .carl-indicators li:nth-child(7) .carl-bullet,
#carl-8:checked ~ .control-8 ~ .carl-indicators li:nth-child(8) .carl-bullet,
#carl-9:checked ~ .control-9 ~ .carl-indicators li:nth-child(9) .carl-bullet,
#carl-10:checked ~ .control-10 ~ .carl-indicators li:nth-child(10) .carl-bullet,
#carl-11:checked ~ .control-11 ~ .carl-indicators li:nth-child(11) .carl-bullet,
#carl-12:checked ~ .control-12 ~ .carl-indicators li:nth-child(12) .carl-bullet {
  color: #428bca;
}


.carl-caption {
  top: 60%;
  bottom: auto;
  color: rgb(0, 0, 0);
}

.carl-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  text-align: center; }

  .row_char{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    justify-content: space-evenly;
  }
  .row_char_img{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    justify-content: space-evenly;
  }
  .row_char_txt{
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    justify-content: space-evenly;
  }

  .nft_bottom{
    width: 111px;
    height: fit-content;
    overflow: hidden;
  }

  
}

  /* End Nft Carousel*/

  /* Head TILES */
  .head-titles {
    top: 28%;
    bottom: auto;
    color: rgb(255, 255, 255);
  }
  
  .head-titles {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center; }
  

    @media only screen and (max-width: 820px){
      .head-titles {
        top: 30%;
        bottom: auto;
        color: rgb(255, 255, 255);
      }
      
      .head-titles {
        position: absolute;
        right: 14%;
        bottom: 20px;
        left: 14%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(255, 255, 255);
        text-align: center; }

    }

    @media only screen and (max-width: 420px){
      .head-titles {
        top: 33%;
        bottom: auto;
        color: rgb(255, 255, 255);
      }
      
      .head-titles {
        position: absolute;
        right: 14%;
        bottom: 20px;
        left: 14%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(255, 255, 255);
        text-align: center; }

    }


 
    #sliderproduct{
      width: 100%;
    }
    #sliderproduct .carousel-inner {
      overflow: visible;
    }
    
  
    #sliderproduct .carousel-item{
      transition: 0.5s;
    }
    
  
    #sliderproduct a.carousel-control-prev, #sliderproduct a.carousel-control-next {
      border-radius: 50%;
      width: 46px;
      height: 46px;
      font-size: 30px;
      text-align: center;
      line-height: 40px;
      opacity: 1;
      top: 50%;
      transform: translate(-50%,-60%);
    }
   
    
    #sliderproduct ol.carousel-indicators {
      display: none;
    }
  
    .carousel-control-prev{
      top: 40%;
    }
    .carousel-control-next{
      top: 40%;
    }

    @media only screen and (max-width: 820px) {
    .carousel-control-prev{
      left: 90px;
    }
    .carousel-control-next{
      right: 90px;
    }
    .carl-caption {
      top: 60%;
      bottom: auto;
      color: rgb(0, 0, 0);
    }
   
    }
    

    @media only screen and (max-width: 420px) {
      .carousel-control-prev{
        left: 20px;
      }
      .carousel-control-next{
        right: 20px;
      }
    }

    @media only screen and (max-width: 820px){
      .carl-control.prev {
        left: 0%;
      }
      
      .carl-control.next {
        right: 0%;
      }
      }

      .wizard-bg{
        background: url('../assets/img/wizard.png'); 
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 0px;
        bottom: 1px;
        background-position: center;
        width: 100%;
        
  }

  .musketeer-bg{
    background: url('../assets/img/musketeer.png'); 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0px;
    bottom: 1px;
    background-position: center;
    width: 100%;
    
}

.about-bg{
  background: url('../assets/img/about_bg.png'); 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0px;
  bottom: 1px;
  background-position: center;
  width: 100%;
  
}

.about-bg{
  background: url('../assets/img/about_bg.png'); 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0px;
  bottom: 1px;
  background-position: center;
  width: 100%;
  
}

.about-bg{
  background: url('../assets/img/about_bg.png'); 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0px;
  bottom: 1px;
  background-position: center;
  width: 100%;
  
}
.about-bg{
  background: url('../assets/img/about_bg.png'); 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0px;
  bottom: 1px;
  background-position: center;
  width: 100%;
  
}


