.scrollable-container {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid #4bdefd;
    box-shadow: none;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4bdefd;
    width: 24px;
  }
}

.custom-dot-list-style .react-multi-carousel-dot button {
  background-color: #fff;
  border: 1px solid #3898b8;
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  background-color: #4bdefd;
}