@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v29/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'ADrip';
  src: url('../src/Assets/Fonts/adrip/adrip1.eot'); /* IE9 Compat Modes */
  src: url('../src/Assets/Fonts/adrip/adrip1.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../src/Assets/Fonts/adrip/adrip1.woff') format('woff'),
    /* Modern Browsers */ url('../src/Assets/Fonts/adrip/adrip1.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../src/Assets/Fonts/adrip/adrip1.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'aAnotherTag';
  src: url('../src/Assets/Fonts/aAnotherTag/aAnotherTag.eot'); /* IE9 Compat Modes */
  src: url('../src/Assets/Fonts/aAnotherTag/aAnotherTag.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../src/Assets/Fonts/aAnotherTag/aAnotherTag.woff') format('woff'),
    /* Modern Browsers */ url('../src/Assets/Fonts/aAnotherTag/aAnotherTag.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../src/Assets/Fonts/aAnotherTag/aAnotherTag.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'donGraffiti';
  src: url('../src/Assets/Fonts/donGraffiti/donGraffiti.eot'); /* IE9 Compat Modes */
  src: url('../src/Assets/Fonts/donGraffiti/donGraffiti.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../src/Assets/Fonts/donGraffiti/donGraffiti.woff') format('woff'),
    /* Modern Browsers */ url('../src/Assets/Fonts/donGraffiti/donGraffiti.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../src/Assets/Fonts/donGraffiti/donGraffiti.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'digitalNormal';
  src: url('../src/Assets/Fonts/digital-font/DigitalNormal-xO6j.eot'); /* IE9 Compat Modes */
  src: url('../src/Assets/Fonts/digital-font/DigitalNormal-xO6j.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../src/Assets/Fonts/digital-font/DigitalNormal-xO6j.woff')
      format('woff'),
    /* Modern Browsers */ url('../src/Assets/Fonts/digital-font/DigitalNormal-xO6j.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../src/Assets/Fonts/digital-font/DigitalNormal-xO6j.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

.App {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  display: block;
  box-sizing: content-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  box-sizing: content-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #101010;
  /* background-image: url("../public/resources/images/tag.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 1vmin);
  color: white;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.App-header {
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  /* background-color: #41414122; */
  width: 100%;
  height: 7rem;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Shape-parellelogram {
  height: 3rem;
  width: 2rem;
  clip-path: polygon(80% 0, 100% 0, 20% 100%, 0% 100%);
  background-color: #000000;

  flex: 0 0 40px;
}

.Header-bar {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: #31cd66;
}

.Header-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 0 6rem;
  align-items: start;
  overflow: hidden;
}

.Header-content-right {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: start;
  padding: 0 1rem 0 0;
}

.Socials {
  display: flex;
  align-items: center;
  z-index: 10;

  @media (max-width: 1045px) {
    width: 100%;
    justify-content: right;
  }

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.Socials a {
  display: flex;
  @media (min-width: 1045px) {
    padding-top: 0.2rem;
  }
}

.Grills {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 0.8rem);
  justify-content: right;
  align-items: center;
  margin: 0 1rem 0 0;
}

.Banner {
  width: 100%;
  height: calc(10px + 50vmin);
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.Banner .ImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Banner .Banner-logo {
  width: calc(10px + 100vmin);
  margin-right: -13vmin;
  display: block;
  position: absolute;
}

.Banner .Banner-model {
  width: calc(10px + 40vmin);
  margin: calc(-10px - 3vmin) 0 0 0;
  display: block;
  position: absolute;
}

.PrevCollections {
  width: 100%;
  height: max-content;
  display: flex;
}

/* .Banner::before {
    width: 100%;
    height: 100%;
    background-image: url('./Assets/images/main-logo.png');
    background-repeat: no-repeat;
    background-size: calc(10px + 100vmin);
    background-position: 40% 50%;
    content: "";
} */

/* .whoImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./Assets/images/blackplasticwho.png');
    background-repeat: no-repeat;
    background-size: calc(10px + 60vmin);
    background-position: 80% -25%;
    content: "";
} */

.button-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Connect Wallet';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-glitch:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

#monitor {
  margin: 3vmin auto;
  padding: 5.5vmin;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3f3933;
  border-radius: 0.5rem;
}

#crt,
pre {
  font-family: 'VT323', monospace;
}

#crt:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 3;
  background-size: 100% 5px, 5px 100%;
  pointer-events: none;
  animation: fadeIn 2s;
}
#monitor.turn-off #crt:after {
  animation: turnOff 0.4s ease-in-out;
  /* animation-fill-mode: forwards; */
}

#crt:before {
}

/* Screen turned off */
#monitor.off #crt {
  background: var(--off);
}
#monitor.off #crt:before {
  background: none;
}
#monitor.off #crt * {
  display: none !important;
}

/*********** INPUT / OUTPUT *************/

#prompt {
  display: none;
}
[contenteditable] {
  caret-color: transparent; /** This hides the default browser caret */
  outline: none;
}
#input {
  position: relative;
  display: block;
  white-space: pre-wrap;
}
/* Inserts the > before terminal input */
#input:before {
  content: var(--term);
}
/* Puts a blinking square after the content as replacement for caret */
#input[contenteditable='true']:after,
.typer.active:after {
  content: '■';
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  margin-left: 1px;
  line-height: 1rem;
}

#input.password .char {
  display: none;
}
#input.password:after {
  color: var(--color);
}
#input.password:before {
  color: var(--color);
  content: var(--term) attr(data-pw);
}

.typer {
  word-break: break-all;
}

.font-lime {
  color: lime !important;
}

/*********** PARTS OF THE SCREEN *************/

.terminal {
  position: relative;
  height: 100%;
  padding: 0.5rem 2rem 2rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;

  @media only screen and (max-width: 497px) {
    padding: 0.5rem;
  }
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}

.roadmapHeader {
  @media only screen and (max-width: 705px) {
    font-size: 3vw !important;
  }
}

.roadmapList {
  @media only screen and (max-width: 705px) {
    font-size: 3vw !important;
  }
}

.NavBtn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.NavBtn:hover {
  font-weight: 600;
  color: #e63525;
  text-shadow: 2px 2px cyan;
  /* background-color: rgb(71, 71, 71); */
}

.NavBtnA {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #e63525;
  text-shadow: 2px 2px #19cada;
}

.BtnTxt {
  cursor: pointer;
}

.BtnTxt:hover {
  font-weight: 600;
  color: #31cd66;
  text-shadow: 2px 2px #ce3299;
}

.BoxItemA {
  box-shadow: 0px 0px 5px 10px white;
}

.BoxItem:hover {
  box-shadow: 0px 0px 5px 10px white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.57861;
  }
  5% {
    opacity: 0.64769;
  }
  10% {
    opacity: 0.73604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.68128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.66559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.58594;
  }
  60% {
    opacity: 0.60313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.67288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.66108;
  }
  100% {
    opacity: 0.54387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

/** The classic 'minimize to the center' effect */
@keyframes turnOff {
  0% {
    background: #fff !important;
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    background: #fff !important;
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    background: #fff !important;
    animation-timing-function: ease-out;
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 -10px var(--color);
  }
  50% {
    box-shadow: 0 0 10px var(--color);
  }
  100% {
    box-shadow: 0 0 -10px var(--color);
  }
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: -20%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Flash the typed letter, fade opaque to transparent */
@keyframes type {
  from {
    background-color: var(--color);
  }
  to {
    background-color: transparent;
  }
}

@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.glow {
  outline: none;
  animation: glow 1s ease-in-out infinite alternate;
}

.reflect {
  -webkit-box-reflect: below -6px linear-gradient(transparent 35%, #0008);
}

@keyframes glow {
  from {
    box-shadow: none;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 15px #03bcf4, 0 0 20px #03bcf4, 0 0 25px #03bcf4,
      0 0 30px #03bcf4;
  }
  to {
    color: #fff;
    text-shadow: 0 0 5px #03bcf4ef, 0 0 7px #03bcf4ef, 0 0 10px #03bcf4ef,
      0 0 12px #03bcf4ef, 0 0 15px #03bcf4ef;
  }
}
